# Byte-compiled / optimized files
__pycache__/
*.pyc

# Virtual environments
.venv
venv/

# Test and coverage reports
.coverage
.pytest_cache/

# Integrated Development Environment (IDE) files
.vscode/
.idea/
